ul,
ol {
    padding: 0 !important;
}

a {
    text-decoration: none;
    color: #000;
}

li {
    list-style: none;
}

:host ::ng-deep {
    .p-sidebar {
        // background-color: #D91A1A;
        padding: 6px 14px;
        transition: all 0.5s ease;
    }
}