<div class="d-flex justify-content-between">
    <div class="box">
        <h5 class="text-center text-4xl text-color-secondary text-900 mt-2">Add products</h5>
        <div class="grid px-3">
            <div class="col-12 lg:col-6 md:col-12  lg:w-6 md:w-full sm:w-full">
                <app-product-form />
            </div>
            <div class="lg:col-6 md:col-12 h-100 lg:w-6 md:w-full sm:w-full">
                <div class="d-flex justify-content-center w-full align-items-center">
                    <app-uploads />
                </div>
            </div>
        </div>
    </div>