<!-- <div class="flex">
    <div class="flex-1 card-center bg-primary font-bold m-2 px-5 py-3 border-round">
        <img src="../../../../assets/images/login.svg" alt="">
    </div>
    <div class="flex-1 card-center bg-primary font-bold m-2 px-5 py-3 border-round">Prime and PrimeFlex</div>
</div> -->

<div class="overflow-hidden h-screen">
    <div class="flex">
        <div class="flex-1 card-center font-bold m-2 px-5 py-3 border-round">
            <img src="../../../../assets/images/login.svg" alt="">
        </div>
        <div class="flex-1 card-center font-bold m-2 px-5 py-3 border-round">
            <div class="w-full h-auto w-9">
                <router-outlet />
            </div>
        </div>
    </div>
</div>