<div class="overflow-hidden">
    <div class="flex">
        <div class="col-9">
            <div class=" h-full">
                <p-card header="Simple Card" [style]="{ height: '450px' }">
                    <p>
                        Lorem ipsum dolor sit amet...
                    </p>
                    <p-divider />
                    <p>
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium...
                    </p>
                    <p-divider />
                    <p>
                        At vero eos et accusamus et iusto odio dignissimos...
                    </p>
                    <p-divider />
                    <p>
                        Temporibus autem quibusdam et aut officiis...
                    </p>
                    <p-divider />
                </p-card>
            </div>
        </div>
        <div class="col-3">
            <div class="flex justify-content-between flex-column h-full m-cards">
                <p-card header="Simple Card">
                    <p class="m-0">
                        Lorem ipsum dolor sit amet...
                    </p>
                </p-card>

                <p-card header="Simple Card">
                    <p class="m-0">
                        Lorem ipsum dolor sit amet...
                    </p>
                </p-card>

                <p-card header="Simple Card">
                    <p class="m-0">
                        Lorem ipsum dolor sit amet...
                    </p>
                </p-card>
            </div>
        </div>
    </div>
</div>