.cards {
    display: flex;
    justify-content: space-between;
}

.container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
}

.order {
    grid-area: order;
}

.mini-cards {
    grid-area: mini-cards;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    grid-template-areas:
        'order mini-cards';
}

@media (max-width: 992px) {

    .container {
        grid-template-columns: 1fr;
        grid-template-areas:
            'mini-cards'
            'order';
    }

    .mini-cards {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .mini-card {
        flex: 0 0 auto;
        max-width: none;
    }
}

@media (max-width: 767px) {

    .mini-cards {
        flex: 0 0 auto;
        flex-direction: column;
        width: 100%;
    }

    .mini-card {
        flex: 0 0 auto;
        max-width: none;
    }
}