<div class="widgets p-3">
    <div class="widget total-vendas shadow-3">
        <div class="widget-content">
            <i class="widget-icon ri-money-dollar-circle-line"></i>
            <div class="widget-info" style="color: #f5b041;">
                <h3 class="widget-title">Total de Vendas</h3>
                <p class="widget-value text-right">250</p>
            </div>
        </div>
    </div>
    <div class="widget numero-pedidos shadow-3">
        <div class="widget-content">
            <i class="widget-icon ri-shopping-cart-line"></i>
            <div class="widget-info" style="color: #5cb85c;">
                <h3 class="widget-title">Número de Pedidos</h3>
                <p class="widget-value text-right">150</p>
            </div>
        </div>
    </div>
    <div class="widget produtos-estoque shadow-3">
        <div class="widget-content">
            <i class="widget-icon ri-archive-line"></i>
            <div class="widget-info" style="color: #06b0e4;">
                <h3 class="widget-title">Produtos em Estoque</h3>
                <p class="widget-value text-right">300</p>
            </div>
        </div>
    </div>
    <div class="widget clientes-registrados shadow-3">
        <div class="widget-content">
            <i class="widget-icon ri-user-line"></i>
            <div class="widget-info" style="color: #f0ad4e;">
                <h3 class="widget-title">Clientes Registrados</h3>
                <p class="widget-value text-right">500</p>
            </div>
        </div>
    </div>
</div>

<div class="flex justify-content-center px-3">
    <div class="container w-full">
        <div class="order">
            <p-card header="Pedidos" styleClass="h-auto lg:h-full md:h-full px-3">
                @for (item of orders; track $index) {
                    <div class="flex justify-content-between">
                        <p>{{ '#' + item.order_id }}</p>
                        <p>{{ item.user_id }}</p>
                        <p>{{ item.items[0].product_id }}</p>
                        <p>{{ item.items[0].quantity }}</p>
                        <p>{{ item.status }}</p>
                    </div>
                    <p-divider />
                }
            </p-card>
        </div>
        <div class="mini-cards" styleClass="h-full">
            @for (item of dashOrders; track $index) {
            <p-card [header]="item.title" class="mr-1 mb-1">
                <p class="m-0">
                    {{item.info}}
                </p>
            </p-card>
            }
        </div>
    </div>
</div>