<div class="flex justify-content-center mt-3">
    <div class="container w-11">
        <div class="order">
            <p-card header="Simple Card" styleClass="h-auto lg:h-full md:h-full">
                <p>
                    Lorem ipsum dolor sit amet...
                </p>
                <p-divider />
                <p>
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium...
                </p>
                <p-divider />
                <p>
                    At vero eos et accusamus et iusto odio dignissimos...
                </p>
                <p-divider />
                <p>
                    Temporibus autem quibusdam et aut officiis...
                </p>
                <p-divider />
            </p-card>
        </div>
        <div class="mini-cards" styleClass="h-full">
            @for (item of dashOrders; track $index) {
            <p-card [header]="item.title" class="mr-1 mb-1">
                <p class="m-0">
                    {{item.info}}
                </p>
            </p-card>
            }
        </div>
    </div>
</div>