<p-card [header]="products.title" [subheader]="products.category.name">
    <ng-template pTemplate="header">
        <img alt="Card" [src]="products.images[0]" />
    </ng-template>
    <!-- <p>
        {{products.description}}
    </p> -->
    <ng-template pTemplate="footer">
        <div class="flex gap-3 mt-1">
            <p-button label="Remover" severity="secondary" class="w-full" styleClass="w-full" [routerLink]="['/dashboard/products']" />
            <p-button label="Editar" [routerLink]="['edit']" [queryParams]="{ product: products.id, action: 'update' }" class="w-full" styleClass="w-full" />
        </div>
    </ng-template>
</p-card>