<!-- <div class="card">
    <div class="card-image">
        <figure class="image is-4by3">
            <img src="https://bulma.io/assets/images/placeholders/1280x960.png" alt="Placeholder image" />
        </figure>
    </div>
</div> -->

<!-- <div class="card" style="width: 100%;">
    <img src="https://bulma.io/assets/images/placeholders/1280x960.png" class="card-img-top" alt="...">
    <div class="card-body">
        <div class="d-flex justify-content-between m-0">
            <div class="title">
                <h5 class="card-title">Card title</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
            </div>
            <div class="d-flex flex-column">
                <small class="text-dark-emphasis">Color</small>
                <small class="box-color"></small>
            </div>
        </div>
        <h5 class="card-text text-primary m-0">$ 1.200,00</h5>
        <div class="d-flex justify-content-between text-bold-700">
            <small>Size: M</small>
            <small>Qtde: 3</small>
        </div>
    </div>
</div> -->

<p-card header="Advanced Card" subheader="Card Subheader">
    <ng-template pTemplate="header">
        <img alt="Card" src="https://bulma.io/assets/images/placeholders/1280x960.png" />
    </ng-template>
    <p>
        Lorem ipsum dolor sit amet...
    </p>
    <ng-template pTemplate="footer">
        <div class="flex gap-3 mt-1">
            <p-button label="Cancel" severity="secondary" class="w-full" styleClass="w-full" />
            <p-button label="Save" class="w-full" styleClass="w-full" />
        </div>
    </ng-template>
</p-card>