<div class="px-2">
    <table class="responsive-table p-2">
        <thead>
            <tr>
                @for (col of columns; track $index) {
                <th> {{ col.header }} </th>
                }
            </tr>
        </thead>
        <tbody>
            @for (order of orders; track $index) {
            <tr>
                <td data-label="ID Pedido">{{ order.order_id }}</td>
                <td data-label="Cliente" class="flex align-items-center md:justify-content-start justify-content-end">
                    <p-avatar [image]="order.customer.image" class="img-customer mr-2" styleClass="img-customer mr-2" size="large"
                        shape="circle" />
                    <span>{{ order.customer.name }}</span>
                </td>
                <td data-label="Produto">{{ order.product }}</td>
                <td data-label="Valor">{{ order.amount }}</td>
                <td data-label="Vendedor">{{ order.vendor }}</td>
                <td data-label="Status">{{ order.status }}</td>
            </tr>
            }
        </tbody>
    </table>
</div>