<form [formGroup]="productForm">
    <div class="flex flex-column gap-2">
        <label for="productName">Nome do produto</label>
        <input formControlName="title" pInputText id="productName" aria-describedby="product-name"
            placeholder="Produto A" />
        @if (errorFielfd) {
        <small id="product-name">
            Enter your username to reset your password.
        </small>
        }
    </div>
    <div class="flex flex-column gap-2 mt-3">
        <label for="productDescription">Description</label>
        <textarea formControlName="description" id="productDescription" rows="5" cols="30"
            pInputTextarea></textarea>
    </div>
    <div class="grid">
        <div class="col-12 lg:col-6 sm:col-6">
            <div class="flex flex-column gap-2 mb-3 mt-3 w-full">
                <label for="productStatus">Status do produto</label>
                <p-dropdown id="productStatus" class="w-full" formControlName="status" [options]="status"
                    optionLabel="name" dataKey="name" [style]="{'width': '100%'}" placeholder="Status do produto" />
            </div>
        </div>
        <div class="col-12 lg:col-6 sm:col-6">
            <div class="flex flex-column gap-2 mb-3 mt-3 w-full">
                <label for="productCategory">Categoria do produto</label>
                <p-dropdown id="productCategory" class="w-full" formControlName="category" [options]="category"
                    optionLabel="name" dataKey="name" [style]="{'width': '100%'}" placeholder="Categorias" />
            </div>
        </div>
    </div>
    <div class="grid">
        <div class="col-12 lg:col-6 sm:col-6">
            <div class="flex flex-column gap-2 mb-3">
                <label for="productPrice">Preço</label>
                <input formControlName="price" class="w-full" pInputText id="productPrice"
                    aria-describedby="product-price" placeholder="0.00" />
                @if (errorFielfd) {
                <small id="product-price">
                    Enter your username to reset your password.
                </small>
                }
            </div>
        </div>

        <div class="col-12 lg:col-6 sm:col-6">
            <div class="flex flex-column gap-2 mb-3">
                <label for="productstock">Estoque</label>
                <input formControlName="stock" pInputText id="productstock" aria-describedby="product-name"
                    placeholder="0.00" />
                @if (errorFielfd) {
                <small id="product-name">
                    Enter your username to reset your password.
                </small>
                }
            </div>
        </div>
    </div>
</form>