/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";

/* Order */
@layer reset, primeng;

/* Reset CSS */
@layer reset {
}

* {
    box-sizing: border-box;
}
html,
body {
    padding: 0;
    margin: 0;
    background-color: #f3f2f2;
}