<div class="container px-3">
    <h2 class="m-0 text-bold-700 ">Products</h2>
    <!-- <div class="flex align-items-center mt-2 max-w-full">
        <div class="col-9">
            <p-breadcrumb class="max-w-full" [model]="items" [home]="home" />
        </div>
        <div class=" col-3 text-end pe-5">
            <p-button label="Adicionar produto" severity="secondary" />
        </div>
    </div> -->
    <div class="grid nested-grid">
        <div class="col-10">
            <p-breadcrumb class="max-w-full" [model]="items" [home]="home" />
        </div>
        <div class="col-2 text-end">
            <p-button label="Adicionar produto" severity="secondary" class="w-full" [routerLink]="['edit']"
                [queryParams]="{ action: 'create' }" />
        </div>
    </div>
    <div class="flex align-items-center justify-content-end" [style]="{'background': '#FFF', 'font-size': '13px'}">
        <span class="mx-1 text-color">Itens por página: </span>
        <p-dropdown [options]="options" optionLabel="label" optionValue="value" (onChange)="dropChange($event)" [(ngModel)]="rows" (ngModelChange)="first = 0" />
        <p-paginator [first]="first" [rows]="rows" [totalRecords]="totalRecords" (onPageChange)="onPageChange($event)" [showCurrentPageReport]="true"
            currentPageReportTemplate="{first} - {last} de {totalRecords}" [showPageLinks]="false" [showFirstLastIcon]="false" ></p-paginator>
    </div>
    <div class="grid-products mt-3">
        @for (product of products; track product.id) {
        <app-thumbnail-products [products]="product" />
        }
    </div>
</div>