<div class="container px-3">
    <h2 class="m-0 text-bold-700 my-3">Products</h2>
    <div class="grid nested-grid">
        <div class="col-12 lg:col-9 md:col-8 sm:col-12">
            <app-breadcrumb [items]="breadcrumb" />
        </div>
        <div class="col-12 lg:col-3 md:col-4 sm:col-12 md:text-right sm:text-center">
            <p-button label="Adicionar produto" severity="secondary" styleClass="w-full" [routerLink]="['edit']"
                [queryParams]="{ action: 'create' }" />
        </div>
    </div>
    <div class="flex align-items-center sm:justify-content-end justify-content-between shadow-3 py-3 px-1"
        [style]="{'background': '#FFF', 'font-size': '13px'}">
        <div class="flex lg:flex-row md:flex-row sm:flex-row flex-column align-items-center">
            <span class="mx-1 text-color mb-2">Itens por página: </span>
            <p-dropdown [options]="options" optionLabel="label" optionValue="value" (onChange)="dropChange($event)"
                [(ngModel)]="rows" (ngModelChange)="first = 0" />
        </div>
        <p-paginator [first]="first" [rows]="rows" [totalRecords]="totalRecords" (onPageChange)="onPageChange($event)"
            [showCurrentPageReport]="true" currentPageReportTemplate="{first} - {last} de {totalRecords}"
            [showPageLinks]="false" [showFirstLastIcon]="false"></p-paginator>
    </div>
    <div class="grid-products mt-3">
        @for (product of products; track product.id) {
        <app-thumbnail-products [products]="product" />
        }
    </div>
    <div class="flex align-items-center justify-content-end shadow-3 py-3 px-1"
        [style]="{'background': '#FFF', 'font-size': '13px'}">
        <div class="flex flex-column align-items-center">
            <span class="mx-1 text-color mb-2">Itens por página: </span>
            <p-dropdown [options]="options" optionLabel="label" optionValue="value" (onChange)="dropChange($event)"
                [(ngModel)]="rows" (ngModelChange)="first = 0" />
        </div>
        <p-paginator [first]="first" [rows]="rows" [totalRecords]="totalRecords" (onPageChange)="onPageChange($event)"
            [showCurrentPageReport]="true" currentPageReportTemplate="{first} - {last} de {totalRecords}"
            [showPageLinks]="false" [showFirstLastIcon]="false"></p-paginator>
    </div>
</div>